:root{
  --dark-blue: #2C3E50;
  --footer-up-bg: #3A546D;
  --green: #55BD9C;
  --text-dark: #333333;
}

.debug {
  background-color: rgba(0, 128, 0, 0.27);
  border: 1px solid black;
  min-height: 50px;
}

.bg-green {
  background-color: var(--green);
  color: white;
}

header{
  height: 90px;
  background-color: var(--dark-blue);
  color: white;
}

#jumbotron-lf{
 padding-top: 90px;
}

.container-lf {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

footer{
  color: white;
}
#footer-top{
  background-color: var(--footer-up-bg);
  /* debug */
  min-height: 200px;
}

#footer-bottom{
  background-color: var(--dark-blue);
  /* debug */
  min-height: 200px;
}